html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: unset;
}

/* header css */
header {
  position: relative;
  height: 100vh;
  width: 100%;
}

nav {
  /* height: 85px; */
  font-size: 24px;
}

.header_slider {
  position: absolute;
  height: 100%;
  width: 100%;
}

.first_slide {
  background-image: url("/images/Rectangle 1.png");
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  /* background-position: center; */
  height: 100vh;
  width: 100vw;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
}

.second_slide {
  box-sizing: content-box;
  background-image: url("/images/Rectangle 3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /* background-position: center; */
  width: 100vw;
  height: 100vh;
}

.third_slide {
  box-sizing: content-box;
  background-image: url("/images/up-arrow.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  /* background-position: center; */
  width: 100vw;
  height: 100vh;
}

.header_text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.header_title {
  margin-bottom: 5rem;
}

.header_title > h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
}

.header_title > p {
  font-size: 36px;
  font-weight: bold;
  color: rgb(152, 128, 128);
}

.header_arrow > span {
  font-size: 36px;
  font-style: italic;
  color: #5993f9;
}
/* end header css */

footer p {
  color: white;
}
footer {
  position: relative;
}
.foot_up {
  padding: 20px;
  height: 100px;
}

.absolute_one {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.profit {
  background-color: #c4c4c4;
}

/* slider */
.principles {
  background-color: #cbb2b2;
}
.slider {
  position: relative;
  height: 600px;
}
.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 2em;

  width: 60%;

  font-size: 2em;

  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

.card_none {
  background: #c4c4c4;
}

@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    left: 25%;
    opacity: 1;
  }
  66.66%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}

/* hover style */
:root {
  --mainColor: #ff9800;
}

.effect {
  background: linear-gradient(
    to bottom,
    var(--mainColor) 0%,
    var(--mainColor) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

.effect:hover {
  background-size: 4px 50px;
}
/* end hover style */
